# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native folders (EAS creates clean native build in cloud)
android/
ios/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS & Env
.DS_Store
*.pem
.env*.local
*.tsbuildinfo
